---
layout: default
title: Home
---

{% for post in paginator.posts %}
  <article class='justify'>
    {% if post.link %}
      <h2 class='h3 mb1'><a href='{{ post.link }}'>{{ post.title }} &rarr;</a></h2>
    {% else %}
      <h2 class='h3 mb1'><a href='{{ post.url }}/'>{{ post.title }}</a></h2>
      <time class='gray'>{{ post.date | date: '%B %-d, %Y' }}</time>
    {% endif %}

    {% if post.summary %}
      {{ post.summary | markdownify }}
    {% else %}
      {{ post.content }}
    {% endif %}
  </article>

  <hr class='half-width'/>
{% endfor %}

{% include pagination.html %}
