<footer class='py4'>
  {% if paginator.next_page %}
    <a class='h2' href="{{ site.baseurl }}/{{ paginator.next_page }}/">&larr;</a>
  {% else %}
    <span class='h2'>&larr;</span>
  {% endif %}

  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class='h2' href="{{ site.baseurl }}/">&rarr;</a>
    {% else %}
      <a class='h2' href="{{ site.baseurl }}/{{ paginator.previous_page }}/">&rarr;</a>
    {% endif %}
  {% else %}
    <span class='h2'>&rarr;</span>
  {% endif %}
</footer>
