@import 'https://fonts.googleapis.com/css?family=Crete+Round';
@import "basscss.min";
@import "github"; // For code blocks.

body {
  font-family: 'Georgia', serif;
}

h1, h2, h3 {
  font-family: "Crete Round", serif;
  font-weight: normal;
}

.container {
  max-width: 48em;
  margin: 0;
}

p {
  font-size: 1.2rem;
}

pre {
  padding: 1rem;
  background-color: rgba(0,0,0,.0625);
}

img {
  margin: 10px;
}

blockquote {
  border-left: 1px solid #ddd;
  color: #767676;
}

blockquote p {
  font-style: initial;
}

a {
  color: #005eb0;
}

@media (max-width: 52em) {
  .sm-px2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sm-ml2 {
    margin-left: 1rem;
  }
}

.grayish {
  color: #767676;
}
